api:
  auth_token: {{ AUTH_TOKEN }}
  # On server, set url to the hostname of your server installation. For example,
  # url: https://circleci.example.com

runner:
  name: {{ RUNNER_NICKNAME }}
  command_prefix: ["sudo", "-niHu", "{{ CIRCLECI_USER }}", "--"]
  working_directory: {{ LAUNCH_AGENT_DIR }}/workdir/%s
  cleanup_working_directory: {{ CLEANUP_WORKING_DIR }}
